@import 'tailwindcss';

.cursor-red {
  cursor: url('/cursor-red.svg') 16 16, not-allowed;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  @apply appearance-none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}


/* for no-bg while selection  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}
/* 
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f3f4f6 inset !important;
  box-shadow: 0 0 0px 1000px #f3f4f6 inset !important;
} */